{% extends "../styles/templates/base.html" %}
{% block content %}
<main>
    <center>
        <canvas id="charcanvas" width="400" height="400">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
        <script>
            function draw() {
              const canvas = document.getElementById("tutorial");
              if (canvas.getContext) {
                const ctx = canvas.getContext("2d");
              }
            }
            window.addEventListener("load", draw);
          </script>
      
    </center>
</main>
{% endblock %}