{% extends "../styles/templates/base.html" %}
{% block content %} 
<main>
<div id="hero">
  <center>
    <h6>
      Drifting with Purpose.
    </h6>
    <p id="subtitle">
      Computer vision solutions for web and offline applications  
    </p>
    <div class="button_block">
      <div class = "centered">      
          <a href="#blog" class="blog_button">Blog</>
            <a/>
          <a href="#about" class="proj_button">About</>
            <a/>
      </div>
    </div>
  </center>
</div>      
<header>
  <hr class="home-rule" id="about"/>
        <div class="head_centered">
          <div class="left_side">
            <center>
              <img id="dp" src="static/websitedp.png" alt="Profile Pic" style="width:230px;height:230px;"/>
              <ul>
              <li class="email_icon">
                <a href="mailto:admin@olistocks.com"><img src="static/email_icon.svg" alt="Email icon" title="Email" style="height:32px;"/>
                </a>
              </li>
              <li class="insta">
                <a href="https://www.instagram.com/stocksoli/"><img src="static/Insta Icon.svg" alt="Instagram" title="LinkedIn" style="height:32px;"/>
                <a/>
              </li>
              <li class="preply_icon">
                <a href="https://preply.com/en/tutor/5622516"><img src="static/Preply logo.svg" alt="Preply" title="Preply" style="height:32px;"/>
                <a/>
              </li>
              <li class="linkedin_icon">
                <a href="https://www.linkedin.com/in/oliver-stocks/"><img src="static/LinkedIn Icon.svg" alt="LinkedIn" title="LinkedIn" style="height:32px;"/>
                <a/>
              </li>
            </ul>
          </center>
        </div>
        <div class="right_side">
        <h1>
          About
        </h1>
        <p class="bodytext">
          Welcome to my website. This started out as a place to
           share travel stories, but now it's 
           my multi-purpose corner of the internet. For work related 
          queries, connect with me on LinkedIn. For travel updates,
           check out my Instagram. For English lessons, check out my Preply.
           For anything else, drop me an email.<br/><br/>
          I'm always interested in new projects so if you'd like to collaborate 
          on something, feel free to get in touch!
        </p>
        <center>
          <img src="static/sig.svg" alt="Theme" height=30px/>
        </center>
      </div>
      </div>
      <hr class="home-rule" />
      </header>
      <section id="services">
        <h1 id="serviceh1">
         Services
        </h1>
        <div id="package_display">
          <div class="package" id="roamer">
            <center>
              <img src="static/coconut.svg" alt="Coconuts" height=60px/>
              <p>
                <h7>
                  Weekend Roamer
                </h7>
              </p>
              <p>
                A custom website for occasional travellers with things to share. Perfect for bloggers and photographers. 
              </p>
              <h7>
                £90
              </h7>
            </center>
          </div>
          <div class="package" id="explorer">
            <center>
              <img src="static/vision.svg" alt="Vision" height=56px/>
              <p>
                <h7>
                  Computer Vision
                </h7>
              </p>
              <p>
                Custom computer vision solutions designed specifically to solve your problem, online or offline.
              </p>
              <h7>
                £ On Enquiry
              </h7>
            </center>
          </div>
        </div>
      </section>
      <section>
      <article id="blog-search">
        <hr class="home-rule" id="blog"/>
        <div class="category">
          <h2>
            <img src="static/location.svg" style="height:20px;"/>
            Travel Stories
          </h2>
          <div class="scroll-bar">
            <button class="prev">
            <svg width="52" height="19" viewBox="-4 -2 52 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g>
              <ellipse cx="10" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
              </g>
              <g>
              <ellipse cx="34" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
              </g>
              <g>
              <ellipse cx="22" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
              </g>
              </svg>                  
            </button>
            <div class="blog-window">
              {% for name in travel_nav %}
              <div>
                <a class="blog-preview" id="noimg" href={{name[0]}}>
                    <span>{{name[0]|striptags|replace(".html", "")|title|replace("-", " ") }}</span>
                    <p>
                      {{name[1]}}
                    </p>
                </a>
              </div>
              {% endfor %}
            </div>
            <button class="next">
              <svg  width="52" height="19" viewBox="4 -2 52 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <ellipse cx="10" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
                </g>
                <g>
                <ellipse cx="34" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
                </g>
                <g>
                <ellipse cx="22" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
                </g>
                </svg>                  
              </button>
          </div>
        </div>
        <div class="category">
          <h2>
            <img src="static/pencil.svg" style="height:20px;"/>
            Misc
          </h2>
          <div class="scroll-bar">
            <button class="prev">
            <svg width="52" height="19" viewBox="-4 -2 52 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g>
              <ellipse cx="10" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
              </g>
              <g>
              <ellipse cx="34" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
              </g>
              <g>
              <ellipse cx="22" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
              </g>
              </svg>                  
            </button>
            <div class="blog-window">
              {% for name in misc_nav %}
              <div>
                <a class="blog-preview" id="noimg" href={{name[0]}}>
                    <span>{{name[0]|striptags|replace(".html", "")|title|replace("-", " ") }}</span>
                    <p>
                      {{name[1]}}
                    </p>
                </a>
              </div>
              {% endfor %}
            </div>
            <button class="next">
              <svg  width="52" height="19" viewBox="4 -2 52 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <ellipse cx="10" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
                </g>
                <g>
                <ellipse cx="34" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
                </g>
                <g>
                <ellipse cx="22" cy="4" rx="4" ry="4" fill="#D9D9D9"/>
                </g>
                </svg>                  
              </button>
          </div>
        </div>
      </article>
    </section>
  </main>
    {% endblock %}
