<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta 
    charset="utf-8" />
    <meta 
      name="viewport" 
      content="width=device-width" />
    <title>Oli Stocks (and shares) {% if title %} {% block title %}{% endblock %}{% endif %} </title>
    <meta 
      name="author"
      content="Oli Stocks"/>
    <meta
      name="description"
      content={{description}}/>
    <meta
      property="og:image"
      content="static/logomini.svg" />
    <meta
      property="og:description"
      content="Yet another blog. Here you can find travel stories, projects and contact information."/>
    <meta property="og:title" content="Oli Stocks (and Shares)" />
    <link
      rel="icon"
      href="static/logomini.svg"
      sizes="32x32"/>
    <link 
      rel="stylesheet"
      href="darktheme.css" />
  </head>
  <body>
    <nav>
        <a class="home_icon"
            href="https://spoyl.github.io"
            title=Homepage>
            <img style="display: inline;" src="static/logo.svg" alt="My logo" height=30/>
        </a>
      <div class="menu">
        <img src="static/Menu.svg" alt="Theme" height=11px/>
        <div id="dropdown" class="dropdown_content">
          <ul>
            <li>
              Travel 2024
            </li>
            <ul>
              {% for name in travel24_nav %}
            <li><a href="{{ name[0] }}">{{ name[0]|striptags|replace(".html", "")|title|replace("-", " ") }}</a></li>
              {% endfor %}
            </ul>
          </ul>
          <ul>
            <li>
              Travel 2023
            </li>
            <ul>
              {% for name in travel23_nav %}
            <li><a href="{{ name[0] }}">{{ name[0]|striptags|replace(".html", "")|title|replace("-", " ") }}</a></li>
              {% endfor %}
            </ul>
          </ul>
          <ul>
            <li>
              Misc
            </li>
            <ul>
              {% for name in misc_nav %}
            <li><a href="{{ name[0] }}">{{ name[0]|striptags|replace(".html", "")|title|replace("-", " ") }}</a></li>
              {% endfor %}
            </ul>
          </ul>
        </div>
      </div>
    </nav>
        {% block content %}{% endblock %}
    <footer>
        <center>
        <p>
          &#169 OliStocks 2025. All rights reserved.
        </p>
      </center>
      </footer>
    <script src="scripts/script.js"></script>
  </body>
</html>
