<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta 
    charset="utf-8" />
    <meta 
      name="viewport" 
      content="width=device-width" />
    <title>Human Kind's To-Do List</title>
    <meta 
      name="author"
      content="Oli Stocks"/>
    <meta
      name="description"
      content="These are the problems that need to be solved if humans are to live high-quality lives in a place long-term."/>
    <meta
      property="og:image"
      content="images/logomini.svg" />
    <meta
      property="og:description"
      content="Yet another blog. Here you can find travel stories, projects and contact information."/>
    <meta property="og:title" content="Oli Stocks (and Shares)" />
    <link
      rel="icon"
      href="../images/logomini.svg"
      sizes="32x32"/>
    <link 
      rel="stylesheet"
      href="../styles/darktheme.css" />
  </head>
  <body>
    <nav>
        <a class="home_icon"
            href="https://spoyl.github.io"
            title=Homepage>
            <img style="display: inline;" src="images/logo.svg" alt="My logo" height=35/>
        </a>
      <div class="menu">
        <img src="images/Menu.svg" alt="Theme" height=16px/>
        <div id="dropdown" class="dropdown_content">
          <ul>
            <li>
              Misc
            </li>
            <ul>
              <li>
                <a href="how-to-travel-for-free.html">How to Travel for Free (or Really Cheap)</a>
              </li>
              <li>
                <a href="pub-quiz-questions.html">Pub Quiz Questions</a>
              </li>
              <li>
                <a href="the-georgian-dream-is-dead-long-live-georgian-dream.html">The Georgian Dream is Dead, Long live Georgian Dream</a>
              </li>
              <li>
                <a href="human-kinds-to-do-list.html">Human Kind's To-Do List</a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
        {{ content }}
    <footer>
        <center>
        <p>
          &#169 OliStocks 2024. All rights reserved.
        </p>
      </center>
      </footer>
  </body>
</html>
