<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta 
    charset="utf-8" />
    <meta 
      name="viewport" 
      content="width=device-width" />
    <title>Blog Title</title>
    <meta 
      name="author"
      content="Oli Stocks"/>
    <meta
      name="description"
      content="Page description"/>
    <meta
      property="og:image"
      content="images/Logo mini.png" />
    <meta
      property="og:description"
      content="Yet another blog. Here you can find travel stories, projects and my resume." />
    <meta property="og:title" content="Oli Stocks (and Shares)" />
    <link
      rel="icon"
      href="../images/Logo mini.png"
      sizes="32x32"/>
    <link 
      rel="stylesheet"
      href="../styles/darktheme.css" />
  </head>
  <body>
    <nav>
        <a class="home_icon"
            href="https://spoyl.github.io"
            title=Home>
            <img style="display: inline;" src="../images/logo no bg.svg" alt="My logo" height=50/>
        </a> 
    </nav>
    <main class="blog">
        <h4>
            Location
        </h4>
        <h3>
            Title
        </h3>
        <h5>
            Month Day, Year
        </h5>
        <p class="bodytext">
            Text goes here
        </p>
        <div class="blog_links">
          <div class="left_side">
            <h4>
              Previous Article
            </h4>
          <div class="right_side_blog">
            <h4>
                Next Article
            </h4>
          </div>
        </div>
        </div>
    </main>
    <footer>
        <center>
        <p>
          &#169 OliStocks 2024. All rights reserved.
        </p>
      </center>
      </footer>
  </body>
</html>