/* Calamata theme for OliStocks.com */

* {
    font-family: 'Inter';
}

main {
    background-color: #2A4B57;
}

body {
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
    width: 100%;
    margin: 0px 0px;
    background-color: #2A4B57;
}

nav {
    position: fixed;
    display: flex;
    align-items: center; /* Center align children vertically */
    justify-content: space-between; /* Distribute space evenly between children */
    width: 100%;
    opacity: 95%;
    padding: 10px 0; /* Optional: add padding for vertical spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    z-index: 2;
    background-color: #9DA083;
    top: 0;
}

.insta{
    padding-left: 20px;
    padding-right: 10px;
}
.home_icon {
    margin-left: 10%; /* Maintain the left margin for spacing */
}

.menu {
    margin-right: 10%; /* Maintain the right margin for spacing */
}

.menu img{
    float: right;
}

#dropdown{
    clear: right;
}

#dp {
    border: solid #E0E0E0;
    border-radius: 50%;
    border-width: 3px;
}

h1 {
    font-size: 32px;
    color: #9DA083;
}

hr{
    border: 2px solid #AAAE8E;
    opacity: 30%;
}

.head_centered img:hover{
    cursor: pointer;
}

.dropdown_content{
    display: none;
}

.menu:hover .dropdown_content{
    display: block;
}

.menu:hover .dropdown_content ul{
    display: flex;
    flex-direction: column;
}

.dropdown_content li{
    font-size: 16px;
    font-weight: 500;
    color: #2A4B57;
    padding: 8px 32px;
}

.dropdown_content > ul > ul > li{
    margin-left: 30px;
    list-style-type: circle;
    & a{
        all: unset;
    }
}

.button_block{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.home-rule{
    border: 2px solid #AAAE8E;
    opacity: 30%;
    width: 90%;
    display:block;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0, -200%);
}

#placeholderPic{
    width: 300px;
}

h2{
    font-size: 22px;
    color: #FFFFFF;
}

h3{
    color: #E0E0E0;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

h4{
    color: #9DA083;
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
}

h5{
    color: #9DA083;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
    margin-bottom: 20px;
}

ul {
    position: relative;
    top: 50%;
    padding-left: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
}
  
.bodytext {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.github_icon{
    padding-left: 10px;
    padding-right: 20px;
}


.head_centered {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.blog_links {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.blog{
    position: relative;
    width: 60%;
    height: 100%;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

.centered{
    width:fit-content;
    margin: auto;
    display: flex;
}

.category{
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

.left_side{
    flex:0 0 50%;
    box-sizing: border-box;
    padding-top: 10px;
}

.right_side_blog{
    flex:0 0 50%;
    box-sizing: border-box;
    text-align: right;
    padding-top: 10px;
}

.right_side{
    flex:0 0 50%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.blog_button {
    border: 0px solid #9DA083;
    background-color: #9DA083;
    color: #2A4B57;
    text-align: center;
    padding: 16px 32px;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    font-weight: 600;
    z-index: 1;
    text-decoration: none;
}

.blog_button:hover{
    background-color: #E0E0E0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.proj_button:hover{
    background-color: #E0E0E0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.proj_button {
    border: 0px solid #9DA083;
    background-color: #9DA083;
    color: #2A4B57;
    text-align: center;
    padding: 16px 32px;
    font-size: 20px;
    margin: 0px 0px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    font-weight: 600;
    z-index: 1;
    text-decoration: none;
}

.resume_button:hover{
    background-color: #E0E0E0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.scroll-bar{
    background-color: rgba(170, 174, 142, 0.3);
    border-radius: 10px;
    height: 280px;
    width: 100%;
    display: block;
}
  
.prev{
    all: unset;
    height: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    display: block;
    margin-right: 5px;
}

.next{
    all: unset;
    height: fit-content;
    right: 0%;
    position: absolute;
    top: 50%;
    display: block;
}

.blog-window{
    position: relative;
    margin: auto;
    margin-left: 60px;
    margin-right: 60px;
    top: 50%;
    transform: translate(0, -40%);
    height: 90%;
    display: flex;
    overflow-x: scroll;
    left: 0;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.blog-window::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.blog-preview p{
    position: absolute; /* Position relative to .blog-preview */
    bottom: 0; /* Adjust top positioning as needed */
    width: 100%; /* Ensure it covers the full width of .blog-preview */
    color: #2A4B57; /* Inherit or set a color */
    font-size: 18px; /* Ensure readability */
    font-weight: 400; /* Make the text bold */
    text-align: center; /* Center the text */
    pointer-events: none; /* Prevent the paragraph from interfering with clicks */
}

.blog-preview{
    position: relative;
    height: 80%;
    background-color: #E0E0E0;
    opacity: 100%;
    width: 320px;
    border-radius: 10px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

#travel{
    background-image: url("../images/sunset_turgetreis.jpg");
    background-size: cover;
}

.blog-preview::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.7);
}


.blog-preview:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 100%;
}

.blog-preview span{
    color: #2A4B57;
    position: relative;
}

.head_centered li img{
    color: #9DA083;
}

.prev svg:hover{
    filter: drop-shadow(-3px 5px 2px rgb(0 0 0 / 0.19));
    cursor: pointer;
}

.next svg:hover{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.19));
    cursor: pointer;
}

#FCMago{
    background-image: url("../images/magic-fire-artists.png");
    background-size: cover;
}
#noimg {
    background-image: url("../images/Olive\ Branch.svg");
    background-size: cover;
}

section{
    display:block;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #9DA083;
    opacity: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #FFFFFF;
    display: block;
}

@media (max-width: 1000px) {
    .head_centered {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: left;
        padding: 0px;
        box-sizing: border-box;
        flex-direction: column;
    }
    .blog_links {
        flex-direction: column;
    }
    .left_side, .right_side {
        flex: none;
        width: fit-content;
    }
   
    .scroll-bar{
        height: 160px;
    }
    .blog-window{
        width: calc(90vw - 30px);
        display: flex;
        align-items: left;
        margin-left: 15px;
        margin-right: 20px;
        transform: translate(0, -52%);
    }
    .blog-preview{
        height: 90%;
        width: 160px;
        margin: 5px;
        opacity: 100%;
        font-size:18px;
        align-items: baseline;
        padding-top: 10px;
    }

    .blog-preview p{
        padding: 15px;
        font-size: 16px;
    }
    .prev, .next{
        display: none;
    }
    .blog-preview:hover{
        box-shadow: none;
    }
    .blog{
        position: relative;
        width: 80%;
        height: 100%;
        margin: auto;
        display: block;
        padding-bottom: 10px;
    }
}
